In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

# **Load the Data from the Database**

In [2]:
#Remember to eventually clean up the wrong or missing values
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")

train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
#Remember to eventually clean up the wrong or missing values
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")

test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
print(train_data.columns)
print(train_data.shape)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
(891, 12)

# Choosing features #

In [5]:
features = ["Pclass", "Sex", "Fare"]

X_train = pd.get_dummies(train_data[features])

X_train.head()
#print(X_train.shape)

   Pclass     Fare  Sex_female  Sex_male
0       3   7.2500       False      True
1       1  71.2833        True     False
2       3   7.9250        True     False
3       1  53.1000        True     False
4       3   8.0500       False      True

# Set the target/label (y) values

In [6]:
#Y_train = pd.get_dummies(train_data["Survived"])
Y_train = train_data["Survived"]

Y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

# Split up train data into Train-test using scikit-learn

In [7]:
from sklearn.model_selection import train_test_split

#Split data into a train/validation and test set
X_train, X_test, Y_train, Y_test = train_test_split(X_train, Y_train, test_size = 0.3, random_state = 42)

#print(X_train.head())
#print(Y_train.head())
print(Y_train.head())

print(Y_test.head())

445    1
650    0
172    1
450    0
314    0
Name: Survived, dtype: int64
709    1
439    0
840    0
720    1
39     1
Name: Survived, dtype: int64

spliting the data into a train-test split will allow us to test our model and so it will allow us to tune our model before submitting on Kaggle. We can also use the train-validation-test split here

# Making the Neural Network Model using Scikit Learn

In [8]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

model = MLPClassifier(hidden_layer_sizes=(5, 5), activation='relu', solver='adam', max_iter=1000, random_state=42)

model.fit(X_train, Y_train)

y_pred = model.predict(X_test)

print(f"Accuracy: {accuracy_score(Y_test, y_pred):.2f}")

Accuracy: 0.78

# Tried making a neural network using Tensor Flow but decided to just use Scikit learn

In [9]:
# import tensorflow as tf


# #Compile the model
# model = tf.keras.models.Sequential([
#     tf.keras.layers.Dense(64, activation = "relu", input_shape = (687,)),
#     tf.keras.layers.Dense(32, activation = "relu"),
#     tf.keras.layers.Dense(16, activation = "relu"),
#     tf.keras.layers.Dense(1, activation = "sigmoid")
# ])
# model.compile(optimizer = "adam", loss = "binary_crossentropy", metrics = ["accuracy"])


# #Train the model

# #X_train = tf.convert_to_tensor(X_train)
# #Y_train = tf.convert_to_tensor(Y_train)
# model.fit(X_train, Y_train, epochs = 10)

# #Evaluate the model 

# #X_test = tf.convert_to_tensor(X_test)
# #Y_test = tf.convert_to_tensor(Y_test)
# loss, accuracy = model.evaluate(X_test, Y_test)
# print("Accuracy: ", accuracy)

# Testing model on real test set and Submitting Model

In [10]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
features = ["Pclass", "Sex", "Fare"]
test_X = pd.get_dummies(test_data[features])
#test_X = test_X.dropna()
#print(test_X["Sex_female"])
test_X['Fare'].fillna(test_X['Fare'].median(), inplace=True)

# Impute categorical columns with the mode
for column in ['Pclass']:
    test_X[column].fillna(test_X[column].mode()[0], inplace=True)

for column in ["Sex_female"]:
    test_X[column].fillna(False, inplace=True)
    
for column in ['Sex_male']:
    test_X[column].fillna(True, inplace=True)
  
  


# print(test_data)
# print(X_test)

#model.fit(X_train, Y_train)

predictions = model.predict(test_X)

#test_data = test_data.dropna(subset=['Pclass', 'Sex', 'Fare'])

pass_id = test_data['PassengerId']

test_data = test_data.drop('PassengerId', axis=1)
test_data = pd.get_dummies(test_data[features])

test_data["PassengerId"] = pass_id

test_data['Fare'].fillna(test_data['Fare'].median(), inplace=True)

print(test_data.columns)

# Impute categorical columns with the mode
for column in ['Pclass']:
    test_data[column].fillna(test_data[column].mode()[0], inplace=True)

for column in ['Sex_female']:
    test_data[column].fillna(False, inplace=True)
    
for column in ['Sex_male']:
    test_data[column].fillna(True, inplace=True)

print(test_X.shape)
print(predictions.shape)
print(test_data.shape)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Index(['Pclass', 'Fare', 'Sex_female', 'Sex_male', 'PassengerId'], dtype='object')
(418, 4)
(418,)
(418, 5)
Your submission was successfully saved!

# After first submission, I will now try and edit the neural network to improve the accurary

In [11]:
model = MLPClassifier(hidden_layer_sizes=(14, 4), activation='relu', solver='lbfgs', max_iter=1000, random_state=42)

model.fit(X_train, Y_train)

y_pred = model.predict(X_test)

print(f"Accuracy: {accuracy_score(Y_test, y_pred):.2f}")

Accuracy: 0.82

# Second submission

In [12]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
features = ["Pclass", "Sex", "Fare"]
test_X = pd.get_dummies(test_data[features])

test_X['Fare'].fillna(test_X['Fare'].median(), inplace=True)

# Impute categorical columns with the mode
for column in ['Pclass']:
    test_X[column].fillna(test_X[column].mode()[0], inplace=True)

for column in ["Sex_female"]:
    test_X[column].fillna(False, inplace=True)
    
for column in ['Sex_male']:
    test_X[column].fillna(True, inplace=True)

print("done")

predictions2 = model.predict(test_X)

pass_id = test_data['PassengerId']

test_data = test_data.drop('PassengerId', axis=1)
test_data = pd.get_dummies(test_data[features])

test_data["PassengerId"] = pass_id

print(test_data.columns)

print(test_X.shape)
print(predictions2.shape)
print(test_data.shape)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions2})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

done
Index(['Pclass', 'Fare', 'Sex_female', 'Sex_male', 'PassengerId'], dtype='object')
(418, 4)
(418,)
(418, 5)
Your submission was successfully saved!